<h1>Users</h1>

<table>
<% @users.each do |user| %>
  <tr>
    <th>image</th>
    <th>name</th>
  </tr>

  <tr>
    <td><%= image_tag user.get_user_image %></td>
    <td><%= user.name %></td>
    <td><%= link_to "Show", user_path(user.id) %></td>
  </tr>

</table>
<% end %>
