<div class="container">
<div class="row">
  <div class="col-lg-3">
    <%= render 'list', book: @book %>
  </div>

  <div class="col lg 13" >
      <h1>Users</h1>

    <table class="table table-striped">
      <thead>
       <tr>
        <th>image</th>
         <th>name</th>
        <th></th>
       </tr>
      </thead>

      <tbody>
       <% @users.each do |user| %>
         <tr>
           <td><%= image_tag user.get_user_image %></td>
           <td><%= user.name %></td>
           <td><%= link_to "Show", user_path(user.id) %></td>
          </tr>
       <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>